/* <nav-heading> web component */
body:not(:has(nav-heading)),
body:has(nav-heading:empty) {

  button[popovertarget="pagecontents"] {
    display: none;
  }

}

#pagecontents {

  display: none;
  font-size: var(--fsize--1);
  position: fixed;
  inline-size: min(var(--layout-sidebar), 100vi);
  block-size: auto;
  inset: var(--header-height) 0 0 auto;
  padding: var(--layout-margin-min) var(--layout-margin-sidebar);
  border: 0 none;
  border-inline-end: var(--layout-margin-sidebar) solid var(--color-back2);
  background-color: var(--color-back2);
  overflow-block: auto;
  overscroll-behavior: none;
  transition: transform 0.3s ease;

  &:popover-open {
    display: block;
    transform: none;

    @starting-style {
      transform: translateX(100%);
    }

  }

  ol, ol ol, li {
    padding: 0;
    margin: 0;
  }

  a {
    display: block;
    padding-inline-start: 1em;
    padding-block: 0.1em;
    border-inline-start: 2px solid var(--color-back4);
  }

  li li a {
    padding-inline-start: 2em;
  }

  a.active, a.active code {
    color: var(--color-fore2);
    border-color: var(--color-fore1);
  }

}

@media (width > 86rem) {

  button[popovertarget="pagecontents"] {
    display: none;
  }

  #pagecontents {

    display: block;
    inset: var(--header-height) var(--layout-margin-sidebar) 0 calc((100% - var(--main-width)) / 2 + var(--main-width) + var(--layout-margin));
    inline-size: auto;
    padding-inline: 0;
    border: 0 none;
    background-color: transparent;

  }

}
